@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.app-container {
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	background-color: rgb(56, 55, 55);
	color: white;
	background-image: url('../src/assets/game-bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	background-attachment: fixed;
	font-family: 'Noto Sans JP', sans-serif;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: auto;
	background-color: rgb(56, 55, 55);
}

.app-header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 50px;
	color: white;
	position: fixed;
	top: 0;
	z-index: 7;
	background-color: rgb(0, 0, 0, 0.9);
}

.app-logo {
	font-size: 24px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.app-title {
	font-size: 24px;
}

.content-container {
	flex: 1;
	width: 100%;
	max-width: 800px;

	padding-top: 1rem;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}
