.threads-header {
	text-align: center;
	box-shadow: 0 0 10px #13b587; /* Neon pink box shadow */
	animation: neonBorder 1.5s ease-in-out infinite alternate;
	border-radius: 10px;
	padding: 0.5rem;
	margin: 0 4px;
	line-height: 2;
}

.video-game-forum-top {
	margin-top: 25px;
}

.post {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	text-align: center;
	background-color: rgb(167, 156, 184);
	box-shadow: 0 0 10px #ff00ff; /* Neon pink box shadow */
	animation: neonBorder 1.5s ease-in-out infinite alternate;
}

h3 {
	text-align: center;
}

.post h2 {
	font-size: 24px;
	margin-bottom: 5px;
	font-weight: bold;
	background-color: rgb(142, 131, 158);
	border-radius: 10px;
}

.post p {
	margin-bottom: 5px;
}

.post .author {
	font-style: italic;
	color: #666;
	font-size: 14px;
	margin-bottom: 0px;
}

.post .created-at {
	font-size: 14px;
	color: #666;
}

.forum-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap: 1rem;
}

.threads-btns {
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: -10px;
}

.comments-title {
	font-size: 24px;
	margin-bottom: 5px;
	font-weight: bold;
	background-color: rgb(142, 131, 158);
	border-radius: 10px;
	margin-top: 10px;
}

.comment-text-area {
	width: 100%;
}

.update-btn {
	background-color: blue;
	color: white;
	border-radius: 10px;
}

.update-btn:hover {
	background-color: rgb(142, 131, 158);
}

@media (max-width: 768px) {
	.post {
		width: 500px;
	}
}

@media (max-width: 520px) {
	.post {
		width: 400px;
	}
}

@media (max-width: 400px) {
	.post {
		width: 300px;
	}
}
