.carousel-container {
	position: relative;

	.carousel-wrapper {
		position: relative;
		padding: 2rem 4rem 1rem 4rem;
		display: block;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 1rem;

		.slick-list {
			box-shadow:
				0 0 10px rgba(255, 0, 255, 0.5),
				0 0 20px rgba(255, 0, 255, 0.7),
				0 0 30px rgba(255, 0, 255, 0.9),
				0 0 40px rgba(255, 0, 255, 0.9);
			animation: neonBorder 1.5s ease-in-out infinite alternate;
			border-radius: 10px;
		}

		.slick-dots {
			position: relative;
			bottom: unset;
		}
	}
}

@keyframes neonBorder {
	from {
		box-shadow:
			0 0 10px #fff,
			0 0 20px #fff,
			0 0 30px #fff,
			0 0 40px #fff;
	}
	to {
		box-shadow:
			0 0 10px #ff00ff,
			0 0 20px #ff00ff,
			0 0 30px #ff00ff,
			0 0 40px #ff00ff;
	}
}

p {
	color: black;
}

.signup-link {
	cursor: pointer;
}

.carousel-image {
	border-radius: 10px;
	object-fit: fill;
	height: 40vh !important;
}

.carousel-game-name {
	position: absolute;
	bottom: 10px; /* Adjust the distance from the bottom */
	left: 50%; /* Adjust the distance from the left */
	transform: translateX(-50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.carousel-item {
	position: relative;
}

.carousel-image::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
